<style>
    img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
  </style>
  
  {{ $ := .root }}
  
  
  {{ $page := .page }}
  
  <div class="row featurette">
    {{ with $page.Title }}
    <div class="col-md-12 section-heading">
      <h1>{{ . | markdownify | emojify }}</h1>
      {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
    </div>
    {{ end }}
    
    {{ with $page.Params.image }}
    <div class="col-md-12">
      <img src="{{ . }}" width="200px" class="center">
    </div>
    {{ end }}
  </div>

  {{ with $page.Content }}
  <div class="col-md-12">
    {{ . }}
  </div>
  {{ end }}

