/*************************************************
 *  Featurette Widget
 **************************************************/

 .featurette {
    font-size: 0.8rem;
    line-height: 1.5;
    color: #555;
    text-align: center;
  }
  
  .featurette .section-subheading {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 400;
    color: #333;
  }
  
  .dark .featurette,
  .dark .featurette .section-subheading {
    color: #fff;
  }
  
  .featurette-icon {
    display: block;
    width: 100%;
    color: $sta-primary;
    font-size: 7rem;
    text-align: center;
  }


/*************************************************
 *  Hero for join on home page (hero-join-home Widget
 **************************************************/

.wg-hero-topbanner .btn-lg {
  font-size: 1.3rem;
}

.wg-hero-topbanner {
  padding: 2em 0; // More compact top and bottom padding for Hero.
}


.popup-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.popup-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

